@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-sans: var(--font-mono);
  --font-mono: var(--font-mono);
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
